block content
	article#game
		section#chat
			p(
				id='ready'
				class='noselect'
			)
				input(
					type='checkbox'
					id='readyToVote'
					onChange='sendReadyToVote();'
				)
				label(
					for='readyToVote'
				) Ready to vote

			form(action='javascript:sendChatMessage();')
				label
					img(src='images/players/' + playerId + '.svg', class='avatar')
					| &nbsp;
					input(
						type='text'
						id='message'
						name='message'
						autocomplete='off'
						maxlength=80
						placeholder='Send a message...'
					)
				| &nbsp;
				button#submit(type='submit') Send

		section#players
			- for (var i=0; i<players.length; i++)
				blockquote(id=players[i])
					p(id=players[i] + 'Message', class='message')
					p.name
						img(
							class='avatar'
							src='/images/players/' + players[i] + '.svg'
						)
						| &nbsp;
						= players[i].charAt(0).toUpperCase() + players[i].slice(1)

	article(
		id='voting'
		class='hidden'
	)
		h1 Identify the Robots
		form(
			id='votingForm'
			action='javascript:submitVotes();'
		)
			- for (var i=0; i<players.length; i++)
				- if (players[i] != playerId)
					p.name
						input(
							id=players[i] + "Check"
							name=players[i]
							type='checkbox'
							value='robot'
							class='voteInput'
						)
						label(for=players[i] + "Check")
							img(
								class='avatar'
								src='/images/players/' + players[i] + '.svg'
							)
							| &nbsp;
							= players[i].charAt(0).toUpperCase() + players[i].slice(1)

			button#submit(type='submit') Vote

	article(
		id='waitForVotes'
		class='hidden'
	)
		h1 Waiting for others to vote&hellip;

	article(
		id='results'
		class='hidden'
	)
		h1 Voting Results
		dl
			- for (var i=0; i<players.length; i++)
				dt
					img(
						class='avatar'
						id=players[i] + 'avatar'
						src='/images/players/' + players[i] + '.svg'
					)
					| &nbsp;
					= "was a"
					| &nbsp;
					img(
					class='avaType'
					id=players[i] + 'identity'
					src='/images/results/human.svg'
					style='animation-delay:' + (i + 1.5) + 's;'
					)
					| &nbsp;
					#container.stacked-bar-graph
						<span id="!{players[i]}human" style="width: 0%; display:inline-block;background: #A93226;">0%</span><span id="!{players[i]}robot" style="width:0%; display:inline-block;background: #7D3C98;">0%</span>
