block content
	- var avatars = ['bull', 'chick', 'crab', 'fox', 'hedgehog', 'hippopotamus', 'koala', 'lemur', 'pig', 'tiger', 'whale', 'zebra'];
	- var playerCount = 3;
	article#game
		section#chat
			p(
				id='ready'
				class='noselect'
			)
				input(
					type='checkbox'
					id='readyToVote'
					onChange='sendReadyToVote();'
				)
				label(
					for='readyToVote'
				) Ready to vote

			form(action='javascript:sendChatMessage();')
				label
					img(src='images/players/' + avatars[playerId] + '.svg', class='avatar')
					input(
						type='text'
						id='message'
						name='message'
						autocomplete='off'
						maxlength=80
						placeholder='Send a message...'
					)
				button#submit(type='submit') Send

		section#players
			- for (var i=0; i<playerCount; i++)
				blockquote(id='player' + i)
					p(id='player' + i + 'message', class='message')
					p.name
						img(
							class='avatar'
							src='/images/players/' + avatars[i] + '.svg'
						)
						= avatars[i]

	article(
		id='voting'
		class='hidden'
	)
		h1 Identify the Robots
		- for (var i=0; i<playerCount; i++)
			p.name
				input(
					id='p' + i
					type='checkbox'
				)
				label(for='p'+i)
					img(
						class='avatar'
						src='/images/players/' + avatars[i] + '.svg'
					)
					= avatars[i]

		button#submit(type='submit') Vote
